<!-- Header -->
<header app-theme id="header" class="bg-secondary">
  <nav
    class="container mx-auto flex flex-wrap justify-start items-center py-8 px-4"
  >
    <!-- App Name -->
    <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" routerLink="/"
      >Nerd Clips</a
    >

    <div class="flex flex-grow flex-wrap items-center">
      <!-- Primary Navigation -->
      <ul class="flex flex-row mt-1">
        <!-- Navigation Links -->
        <li *ngIf="!(auth.isAuthenticated$ | async); else authLinks">
          <a class="px-2" href="#" (click)="openModal($event)"
            >Login / Register</a
          >
        </li>
        <ng-template #authLinks>
          <li>
            <a
              class="px-2"
              routerLink="/manage"
              routerLinkActive="text-indigo-400"
              [routerLinkActiveOptions]="{ exact: true }"
              [queryParams]="{ sort: '1' }"
              >Manage</a
            >
          </li>
          <li>
            <a
              class="px-2"
              routerLinkActive="text-indigo-400"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/upload"
              >Upload</a
            >
          </li>
          <li>
            <a class="px-2" href="#" (click)="auth.logout($event)">Logout</a>
          </li>
        </ng-template>
        <li routerLinkActive="text-indigo-400">
          <a class="px-2" routerLinkActive="text-indigo-400" routerLink="/about"
            >About</a
          >
        </li>
      </ul>
      <!-- Language Switcher -->
      <ul class="flex flex-row lg:ml-auto lg:my-0 md:ml-auto my-1 ml-2">
        <li class="mr-2">
          <a href="#">
            <img
              src="../../assets/img/en.png"
              alt="en"
              width="22"
              height="14"
              class="inline-block"
            />
            <span class="ml-1">en</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img
              src="../../assets/img/brazil.png"
              alt="pt"
              width="22"
              height="14"
              class="inline-block"
            />
            <span class="ml-1">pt-br</span>
          </a>
        </li>
      </ul>

      <span
        (click)="toggle($event)"
        class="cursor-pointer material-icons text-center text-6xl p-8 ml-auto lg:ml-1 md:ml-1"
      >
        light_mode
      </span>
    </div>
  </nav>
</header>
